<title>{{nonexisting}}</title>
<ul {{attributes(items)}}>
  {% for item in items %}
  <li {{attributes(item) }}>
    {% if item.href %}
    <a href="{{item.href}}">{{item.title}}</a>
    {% else %}
    {{item}}
    {% endif %}
  </li>
  {% endfor %}
</ul>
